.bar-chart {

  text {
    fill: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  line {
    stroke: #e6e6e6;
  }

  .domain {
    stroke: #e6e6e6;
  }

  .tick text {
    transform: translateX(-1.5rem)
  }
}
