@import '../../src/css/color.scss';
@import '../../src/css/flex.scss';
@import '../../src/css/margin.scss';
@import '../../src/css/padding.scss';

body {
  background-color: $COLOR_BACKGROUND;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}
