/* ------------------------------------
 COLOR VARS
 NEW: http://colorhunt.co/c/71378
 OLD: http://colorhunt.co/c/42237
--------------------------------------- */

$COLOR_DARKEST: #222831;
$COLOR_DARK: #393E46;
$COLOR_BLUE: #0092CA;
$COLOR_GRAY: #EEEEEE;

$COLOR_DARK_BLUE: #283739;
$COLOR_TEAL: #228896;
$COLOR_GREEN: #A9C52F;
$COLOR_LIGHTEST: #F5F5F5;

$COLOR_TRANSPARENT: transparent;

$COLOR_GREEN_PRIMARY: #1EB980;
$COLOR_GREEN_SECONDARY: #045D56;
$COLOR_RED_PRIMARY: #FF6859;
$COLOR_RED_SECONDARY: #FFCF44;
$COLOR_RED: #DF0000;
$COLOR_BLUE_PRIMARY: #B15DFF;
$COLOR_BLUE_SECONDARY: #72DEFF;

$COLOR_FOREGROUND: rgb(55,54,65);
$COLOR_BACKGROUND: rgb(66,65,80);
