.wordcloud {

  display: inline;
  font-size: 0.5rem;

  > g {
    display: inline;
    transform: translate(50%);
    transform-origin: 0 0;

    > text {
      font-family: Impact;
      text-anchor: middle;
      transition: transform 500ms ease;
    }

  }

}
